*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
}

body{
    background-color: white;
}

main{
    width: 1300px;
    margin: auto;
}

div#box-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    background-color: black;

}
nav > a{
    background-color: black;
    text-align: center;
    color: red;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 15px;

}

nav > a:hover{
    color: white;
}

div#box-header > h1{
    color: red;
    font-family: 'Permanent Marker', cursive;
    font-size: 60pt;
    padding-bottom: 10px;
}

div#box-header > a{
    color: white;
    font-size: 20pt;
    margin-bottom: 20px;
}

#lyrics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.text-not-bg{
    font-size: 18pt;
    line-height: 3.2rem;
    margin: 40px 50px;
    text-align: left;
}

.text-not-bg-pt{
    font-size: 18pt;
    line-height: 3.2rem;
    margin: 40px 50px;
    text-align: left;
}

.text-bg{
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 10px;
    background-size: 100%;
    color: white;
    font-size: 18pt;
    line-height: 3.2rem;
    padding: 40px 50px;
}

#lyrics2{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}

#lyrics3{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}

#lyrics-hollowed{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#lyrics-hollowed2{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#lyrics-addict{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg5.jpg);
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#lyrics-addict2{
    display: flex;
    flex-direction: column;
    background-image: url(img/bg6.jpg);
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 60px;
    border-top: 1px red solid;
}

footer > p{
    color: white;
}

#name-footer{
    color: red;
    text-decoration: none;
}