body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins, Helvetica, sans-serif;
}

iframe{
    width: 600px;
    height: 800px;
}

h1{
    text-align: center;
}