@charset "UTF-8";

body{
    background-color: rgb(31, 31, 31);
    font-family: 'Times New Roman', Times, serif;
}
#main{
    color: rgb(65, 179, 231);
    text-align: center;
    background-color: rgb(41, 41, 41);
    font-weight: bolder;
    padding: 20px;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}
.submain{
    color: rgb(65, 179, 231);
}
.sub{
    color: rgb(241, 150, 47);
}
p{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.format{
    align-items: center;
    background-color: rgb(41, 41, 41);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px ;
}