body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 100px;
}

table{
    margin: auto;
    border-collapse: collapse;
    width: 300px;
}

td{
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}